@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.fx{
    
    display: flex;
    align-items: center;
    justify-content: center;

}



.qrcard{
    margin-top: 10%;
    white-space: normal;
    border-radius:15px;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width:32vmin;
    height: 50vmin;
    box-shadow: 0px 0px 1px hsl(218, 44%, 22%);
    align-items: center;
    min-width: 320px;
    min-height: 480px;
}

.txt{
    overflow: auto;
    min-width: 100%;
}

.txt h2{
    text-align: center;
    margin: 1.2vmin;
    color: hsl(218, 44%, 22%);
    font-family: Outfit;
    font-weight: 700;
    min-width: 90%;
    
}

.txt h3{
    text-align: center;
    margin: 1.2vmin;
    color: hsl(220, 15%, 55%);
    font-family: Outfit;
    font-weight: 400;

}

.qrcard img{
    min-width: 278px;
    min-height: 1%;
    width: 29.5vmin;
    padding: 5px;
    border-radius: 15px;
    margin: 3% 0px 15px 2%;
}